
.s-logout:before { content: '\e800'; } /* '' */
.s-new:before { content: '\e801'; } /* '' */
.s-close:before { content: '\e802'; } /* '' */
.s-delete:before { content: '\e803'; } /* '' */
.s-gear:before { content: '\e804'; } /* '' */
.s-edit:before { content: '\e805'; } /* '' */
.s-check:before { content: '\e806'; } /* '' */
.s-warning:before { content: '\e807'; } /* '' */
.s-failed:before { content: '\e808'; } /* '' */
.s-dashboard:before { content: '\e809'; } /* '' */
.s-left-fat:before { content: '\e80a'; } /* '' */
.s-right-fat:before { content: '\e80b'; } /* '' */
.s-down-fat:before { content: '\e80c'; } /* '' */
.s-up-fat:before { content: '\e80d'; } /* '' */
.s-right:before { content: '\e80e'; } /* '' */
.s-left:before { content: '\e80f'; } /* '' */
.s-down:before { content: '\e810'; } /* '' */
.s-up:before { content: '\e811'; } /* '' */
.s-pending:before { content: '\e834'; } /* '' */
.s-github:before { content: '\f056'; } /* '' */
.s-minus:before { content: '\f147'; } /* '' */
.s-bitbucket:before { content: '\f171'; } /* '' */
.s-plus:before { content: '\f196'; } /* '' */
.s-google:before { content: '\f1a0'; } /* '' */
.s-settings:before { content: '\f1de'; } /* '' */
.s-gitlab:before { content: '\f296'; } /* '' */
.s-user:before { content: '\f2be'; } /* '' */